{% extends 'YBLOGIN/index.html' %}
{% load staticfiles %}
{% load i18n %}
{% load includeJSX %}
{% load YBtools %}

        {% block title %}
            {% trans "AQNext" %}
        {% endblock %}

        {% block favicon %}
        {% endblock %}

        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'bundles/main.css' %}">            
            <!-- Material Design fonts -->
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
            <link rel="icon" type="image/png" href="{% static 'dist/img/logo/icon.png' %}" />
        {% endblock %}

        {% block js %}            
            <script src="{% static 'bundles/main.js' %}"></script>
            <script src="{% static 'bundles/auxcss.js' %}"></script>
        {% endblock %}

        {% block main %}
            <style>
                .logPanel{
                    max-width:350px;
                    margin:30px auto;
                    overflow:hidden;
                    background-color:white;
                    box-shadow: -40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important;
                }

                .logInput{
                    //width:98%;
                }

                .logInputPas{
                    //width:98%;
                    margin-top:20px !important;

                }

                .logButton{
                    float:right;
                    //left:50%;
                    //margin-left:-55px;
                }

                .logPanelHeader, .logPanelBody{
                    margin:5px 20px;
                }

                .YBGroupCheckBox {
                    min-height: 22px;
                    padding-left: 0px !important;
                }
            </style>
           <div class="logPanel">
                <div class="logPanelHeader">
                    <div class="logError">{{error}}</div>
                    <img src="{% static 'dist/img/logo/logo.png' %}" alt="logo" className="logo" style="margin-left:17%"></img>
                </div>
                <div class="logPanelBody">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="addGroup">
                        <input type="hidden" name="username" class="logInput form-control" value= {{username}}>
                        {% for g, value in groups.items %}
                            {% if value %}
                                <div class="YBGroupCheckBox">
                                <label><input type="checkbox" class="YBCheckBoxInput" name="group" value={{g}} checked>{{g}}</input></label></div><br>
                            {% else %}
                                <div class="YBGroupCheckBox">
                                <label><input type="checkbox" name="group" class="YBCheckBoxInput" value={{g}}>{{g}}</input></label></div><br>
                            {% endif %}
                        {% endfor %}
                        <!--div class="form-group label-floating">
                            <label class="control-label" for="focusedInput1">Grupo</label>
                            <input type="text" name="group" class="logInput form-control">
                        </div-->
                        <div class="logPanelFooter">
                            <button name="loginSubmit" href="javascript:void(0)" class="btn btn-flat btn-primary logButton">Guardar</button>
                        </div>
                    </form>
                    <button name="return" onClick="location.href='/system/auth_group/master'" class="btn btn-flat btn-primary logButton">Volver</button>
                </div>
            </div>
        {% endblock %}
        

{% block endjs %}

   
{% endblock %}
   
